<div class="jumbotron">
    <h1 class="text-center">Market</h1>
</div>
<a href="#!/admin" class="btn btn-primary">Administration</a>
<p>Products listen: {{diapers.length}}</p>
<div class="form-group">
    <input class="form-control" ng-model="filterField" type="search" placeholder="Search..." />
</div>
<div ng-if="showLoading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div ng-if="showAlertError.show" class="alert alert-danger" role="alert">
    {{showAlertError.message}}
</div>
<div ng-if="diapers.length > 0" ng-repeat="diaper in diapers | filter: filterField">
    <div class="row">
        <div class="col-sm-12 col-sm-8 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{diaper.model}}</h5>
                    <p class="card-text">{{diaper.description}}</p>
                    <label>Size:</label>
                    <select ng-options="size as size.description for size in diaper.sizes track by size.description" ng-model="sizeSelected">
                    </select>
                    <button class="btn btn-success btn-sm">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>